.first {
    height:25%;
    background-color:#1f2937;
    display: flex;
}
.second {
    height:25%;
    display: flex;
}
.third{
    height:25%;
    background-color:#c2c4c8;
    display: flex;
}
.fourth {
    height:25%;
    display: flex;
}
.fifth {
    height:25%;
    background-color:#1f2937;
    display: flex;
}